numpy
# torch
# torchvision
# openai-whisper
# pyannote.audio
numpy
chardet
alembic
asyncpg 
fastapi[all]
fastapi-users[sqlalchemy]
python-dotenv
sqlalchemy
aiofiles
fastapi-cache2[redis] 
celery 
flower