{% extends "base.html" %}

{% block head %}
<script>
const gotohome = () => {
        window.location.href = `/`;
    }
</script>
{% endblock %}

{% block content %}
<div class="flex justify-center flex-col items-center">

    <h1 style="text-align: center; font-size: 30px; margin-bottom: 20px; margin-top: 20px;">Система распознавания голоса</h1>

    <button type="button" onclick=gotohome() class="btn btn-info active" style="width: 40%">Вернуться на домашнюю страницу</button>

    {% for allname in allnames %}
    <div class="card" style="width: 40%; margin-top: 1%; text-align: center;">
        <div class="card-body">
          <h5 class="card-title; font-bold " style="margin-bottom: 10px">{{ allname.name }}</h5>
          <p class="card-text " style="margin-bottom: 10px">{{ allname.time }}</p>
          <a href="#" class="btn btn-primary {% if allname.already == 1 %} active {% else %} disabled {% endif %}" id="button-check">
            {% if allname.already == 1 %} 
                Показать распознаный текст 
            {% else %} 
                Подождите, аудио запись распознается 
            {% endif %}
          </a>
        </div>
    </div>

{% endfor %}

</div>

{% endblock %}


<!-- {% block footer %}
<section class="">
    <footer class="text-center text-white"
        style="background-color: #868686; position: absolute; bottom: 0; left: 0; right: 0;">
        <div class="text-center p-3" style="background-color: rgba(100, 100, 100, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">сюда писать</a>
        </div>
    </footer>
</section>
{% endblock %} -->