{% extends "base.html" %}


{% block head %}
<script>
    const getAllNames = () => {
        var e = document.getElementById("ddlViewBy");
        var strUser = e.options[e.selectedIndex].value;
        console.log(strUser);
        window.location.href = `/allaudio/`+strUser;
    }
</script>
<script>
    // Helper function
    const addFileNameToLabel = file => {
        const fileName = file.target.files[0].name
        const customLabel = file.target.nextElementSibling
        customLabel.textContent = fileName
    }

    // Aply to each `.custom-file-label`
    document.querySelectorAll('.custom-file-input')
        .forEach(file => file.addEventListener('change', addFileNameToLabel))
</script>

<style type="text/css">
    /* Fix for overflowing file name in label */
    .custom-file-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 80px;
    }
</style>
{% endblock %}

{% block content %}
<div style="vertical-align: middle;  height: 100%; margin-top: 15%;">
    <h1 style="text-align: center; font-size: 30px; margin-bottom: 20px;">Система распознавания голоса</h1>
    <div class="margin-top: 5%; flex justify-center flex-col items-center">

        <div class="btn-group">
            <button onclick="getAllNames()" type="button" class="btn btn-info active">Показать аудиодорожки</button>
              <select id="ddlViewBy" style="background-color: #117a8b; color: white;">
                <option value="local" class="dropdown-item" href="#">с компьютера</option>
                <option value="device" class="dropdown-item" href="#">с устройства</option>
            </select>
        </div>
        <div class=" margin-top: 10%  flex my-3 gap-5">
            <form enctype="multipart/form-data" action="/uploadfiles/local" method="post">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile04" name='in_file' required>
                        <label class="custom-file-label" for="inputGroupFile04">Загрузить аудио</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-info active" type="submit">Отправить</button>
                    </div>
                </div>
            </form>
            <script type="application/javascript">
                $('input[type="file"]').change(function (e) {
                    var fileName = e.target.files[0].name;
                    $('.custom-file-label').html(fileName);
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}

<!-- 
{% block footer %}

{% endblock %} -->